.modal_overlay_main_content {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    opacity: 0.6;
    background-color: #000000;
    z-index: 10;
}