  
  .main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
  }
  
  .title {
    margin-top: 0;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form > div {
    margin-bottom: 10px;
  }
  
  .other_links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .link {
    text-decoration: none;
    color: #4C4CFF;
  }