.profile_main_content {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 88px;
}

.menu {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 320px;
    padding: 8px;
}

.text_active {
    color: #F2F2F3;
    text-decoration: none;
}

.text_inactive {
    color: #8585AD;
        text-decoration: none;                   
}

.description {
    margin-bottom: 0;
    color: #8585AD;
    opacity: 0.4;
}

.other_content {
    display: flex;
    justify-content: center;
}

.outlet_main_content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}