.constructor_main_content {
    display: flex;
    flex-direction: column;
    min-width: 556px;
}
.container {
    display: flex;
    flex-direction: column;
}

.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.total_sum {
    display: flex;
    align-items: center;
}

.components {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-height: 440px;
    min-width: 556px;
    flex-wrap:unset;
    gap: 10px;
}

.components::-webkit-scrollbar {
	width: 10px;
}

.components::-webkit-scrollbar-track {
	background: #2F2F37;
}

.components::-webkit-scrollbar-corner {
    background: #2F2F37;
}

.components::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.custom_aligment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom_margin_left {
    margin-left: 20px;
}
