.feed_item_main_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 796px;
    width: 100%;
    padding: 24px;
    gap: 24px;
    border-radius: 40px;
    background-color: #1c1c21;
    box-sizing: border-box;
  }
  
  .feed_item_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .feed_item_brief_order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
  

  .feed_item_date {
    text-align: center;
    margin: 0;
  }
  
  .feed_item_link {
    text-decoration: none;
    color: white;
  }
  
  .feed_item_caption_active {
    color: #0cc;
  }

  .total_cost {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 12px;
}

.feed_item_images {
  display: inline-flex;
  flex-direction: row-reverse;
  max-width: 458px;
  max-height: 64px;
}
/*background-image: linear-gradient(to top, rgb(21, 54, 224) 0%, rgb(227, 29, 255) 100%);*/
.feed_item_element { 
  width: 64px; 
  height: 64px; 
  overflow: hidden; 
  border-radius: 100px; 
  background-color: #131316; 
  border: 1px solid #ba4cff; 
  z-index: 1;  
}

.feed_item_element img { 
  margin: 4px 0px 0px -22px; 
  height: 56px; 
}

.feed_item_element:not(:last-child) {
  margin-left: -15px;
}