.feed_item_main_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 796px;
  width: 100%;
  padding: 24px;
  gap: 24px;
  border-radius: 40px;
  background-color: #1c1c21;
  box-sizing: border-box;
}

.feed_item_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feed_item_brief_order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.feed_item_date {
  text-align: center;
  margin: 0;
}

.feed_item_link {
  text-decoration: none;
  color: white;
}

.feed_item_caption_active {
  color: #0cc;
}

.total_cost {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 12px;
}

.feed_item_images {
  display: inline-flex;
  flex-direction: row-reverse;
  max-width: 458px;
  max-height: 64px;
}

.feed_item_element { 
  width: 64px; 
  height: 64px; 
  overflow: hidden; 
  border-radius: 100px; 
  background-color: #131316;
  position: relative;
  z-index: 1;
}

.feed_item_element::before { 
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100px; 
  padding: 2px; 
  background:linear-gradient(45deg,#801AB2,#4C4CFF); 
  -webkit-mask: 
     linear-gradient(#801AB2 0 0) content-box, 
     linear-gradient(#4C4CFF 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.feed_item_element img { 
  margin: 4px 0px 0px -22px; 
  height: 56px; 
}

.feed_item_element:not(:last-child) {
  margin-left: -15px;
}

.brief_order_overlay {
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.brief_order_counter {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}