.modal {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 20;
    overflow: hidden;
    border-radius: 40px;
    gap: 10px;
    background-color: #1C1C21;
}

.modal_header {
    display: flex;
    justify-content: center;

    height: 60px;
    width: 640px;
    padding: 40px 40px 0px 40px;
    gap: 36px;
}

.modal_title {
    width: 580px;
    height: 64px;
}

.modal_close_btn {
    cursor: pointer;
    margin-left: auto;
    border: none;
    outline: none;
}