.ingredient_item_main_content {
    width: 272px;
    height: 208px; 
    display: flex;
    flex-direction: column;
    position: relative;
}

.ingredient_item_price {
    height: 24px;
    gap: 8px;
    display: flex;
    justify-content: center;
}

.ingredient_item_name {
    width: 272px;
    height: 48px;
    text-align: center;
}