.wrapper {
    background-image: url("../../images/person-bg.svg");
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: bottom;
    background-position-x: -25vw;
    background-repeat: no-repeat;
  }
  
  .container {
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    height: calc(80vh - var(--container-padding) * 2);
  }
  
  .content {
    margin: auto;
  }
  
  .link {
    text-decoration: none;
    color: #4C4CFF;
  }