.ingredient_main_content {
    width: 600px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
}

.ingredients {
    width: 600px;
    height: 664px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.details {
    width: 600px;
    min-height: 210px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: hidden;
}


.ingredients::-webkit-scrollbar {
	width: 10px;
}

.ingredients::-webkit-scrollbar-track {
	background: #2F2F37;
}

.ingredients::-webkit-scrollbar-corner {
    background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
    background: #8585AD;;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

/*

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #2F2F37;
}
*/