.main_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 0 50px;    
}

.nav_link {
    width: 178px;
    padding: 16px 20px;
    border-radius: 40px;
    gap: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.text_active {
    color: #F2F2F3;
}

.text_inactive {
    color: #8585AD;                         
}
